body { 
  background-color: 
  #000; 
  color: white; 
}

.container { 
  display: flex; 
}

.input-container { 
  margin-left: 20px; 
}

canvas { 
  border: 1px solid #ccc; 
}

.canvas-inputs { 
  margin-top: 5px; 
}

button {
  background-color: grey;
  color: white;
}

input[type="file"] {
  background-color: grey;
  color: black;
}